{name, "log_roller"}.
{authors, ["Jacob Vorreuter <jacob.vorreuter@gmail.com>"]}.
{description, "A pub/sub modeled, distributed Erlang logging system"}.
{homepage, "http://jkvor.com/log-roller"}.
{license, "MIT"}.
{url, {git, "https://github.com/JacobVorreuter/log_roller.git", {branch, "master"}}}.
{requires, ["mochiweb","dynamic_compile",{"agner","atleast:0.4.10"}]}.
{applications, [log_roller]}.
{build_command, "$AGNER_PACKAGE_REPO/build.sh"}.
{install_command, "$AGNER_PACKAGE_REPO/install.sh"}.
